.review-box {
  width: 804px;
  height: 640px;
  /* text-align: center; */
  padding: 20px;
}
.reviews {
  /* background-color: #fed9ff; */
  width: 764px;
  height: 432px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: center; */
  padding: 20px;
}
